:root {
    --font: "Segoe UI", Tahoma, Geneva, Verdana, serif;

    --btn-text-color: white;
    --btn-bg-gradient: linear-gradient(#3b4a57, #1f2a33);
    --btn-hover-text-color: #989d9f;
    --btn-hover-bg-gradient: linear-gradient(#254255, #152029);
    --btn-active-text-color: #4e4f50;
    --btn-active-bg-gradient: linear-gradient(#252f40, #121d27);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

hr {
    width: 30rem;
}

.outputs {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.3rem;
}

.outputs-column {
    display: flex;
    flex-direction: column;
    justify-items: flex-end;
    justify-content: space-between;
    gap: 0.3rem;
}

.pc-inputs {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    gap: 0.6rem;
    margin-bottom: 0.6rem;
}

.pc-inputs-row {
    display: flex;
    justify-items: center;
    gap: 0.6rem;
    margin-bottom: 0.6rem;
}

.pc-btn {
    width: 3.25rem;
    height: 3.25rem;
    border-radius: 0.4rem;

    color: var(--btn-text-color);
    background-image: var(--btn-bg-gradient);

    font: var(--font);
    font-size: x-large;

    box-shadow: 0 4px 0 black, 0 6px 8px rgba(0,0,0,0.4);

    display: block;
    text-align: center;
    line-height: 200%;
}

.pc-btn:hover {
    color: var(--btn-hover-text-color);
    background-image: var(--btn-hover-bg-gradient);
}

.pc-btn:active {
    transform: scale(95%);
}

.pc-btn#space {
    visibility: hidden;
    pointer-events: none;
}

.pc:checked + label {
    color: var(--btn-active-text-color);
    background-image: var(--btn-active-bg-gradient);
    transform: scale(95%);
}

.pc {
    display: none;
}

#Tn-output, #TnI-output {
    width: 300px;
    resize: none;
}

div.selector-row {
    display: flex;
    gap: 0.3rem;
}

.hidden, .selector-row.hidden {
    display: none;
}

button {
    width: 7rem;
    height: 1.5rem;
}

div.button-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.3rem;
}

div.button-container2 {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}