:root {
    --font: "Segoe UI", Tahoma, Geneva, Verdana, serif;
}

/*hide checkbox*/
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

/*knob*/
.slider::before {
    content: "";
    position: absolute;
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #0fc628;
}

input:focus + .slider {
    box-shadow: 0 0 1px #0fc628;
}

input:checked + .slider::before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/*text*/
.slider::after {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 10px;
    color: white;
    font-family: var(--font);
}

input:checked + .slider::after {
    left: 8px;
    right: auto;
}

#notes-number + .slider::after {
    content: "C, C#, ...";
}

#notes-number:checked + .slider::after {
    content: "0, 1, ...";
}

#ten-eleven + .slider::after {
    content: "10/11";
}

#ten-eleven:checked + .slider::after {
    content: "T/E";
}

#forte-rahn + .slider::after {
    content: "Forte";
}

#forte-rahn:checked + .slider::after {
    content: "Rahn";
}

#one-or-all + .slider::after {
    content: "One";
}

#one-or-all:checked + .slider::after {
    content: "All";
}