:root {
    --font: "Segoe UI", Tahoma, Geneva, Verdana, serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-size: 150%;
}

.settings {
    display: flex;
    flex-direction: column;
}

.settings-row {
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;
    width: 100%;
    max-width: 15em
}

#back {
    margin-top: 10px;
}

input[type="checkbox"].toggle {
    opacity: 0;
    width: 0;
    height: 0;
}

input[type="checkbox"].toggle + label {
    display: flex;
    position: relative;
    align-items: center;
    cursor: pointer;
}

input[type="checkbox"].toggle + label::before {
    content: "";
    width: 2em;
    height: 1em;
    border-radius: 1em;
    margin-right: 0.25em;

    background-color: #ddd;
}

input[type="checkbox"].toggle + label::after {
    content: "";
    position: absolute;

    left: 0.1em;
    width: 0.9em;
    height: 0.9em;
    border-radius: 1em;

    background-color: red;
    transition: 200ms ease-in-out;
}

input[type="checkbox"].toggle:checked + label::after {
    transform: translateX(100%);
    background-color: green;
}

#notes-number + label::after {
    content: "C, C#, ...";
}

#notes-number:checked + label::after {
    content: "0, 1, ...";
}

#ten-eleven + label::after {
    content: "10/11";
}

#ten-eleven:checked + label::after {
    content: "T/E";
}

#forte-rahn + label::after {
    content: "Forte";
}

#forte-rahn:checked + label::after {
    content: "Rahn";
}

#one-or-all + label::after {
    content: "One";
}

#one-or-all:checked + label::after {
    content: "All";
}