:root {
    --font: "Lora", Georgia, serif;
    --font-mono: "Fira Code", monospace;

    --pc-btn-color: #343535;
    --pc-btn-bg: linear-gradient(#fffee6, #dbd7d0);
    --pc-btn-hover-color: #4e4f50;
    --pc-btn-hover-bg: linear-gradient(#d7d7c6, #bcb8b3);
    --pc-btn-active-color: #636465;
    --pc-btn-active-bg: linear-gradient(#c0bfad, #aaa7a2);
    --pc-btn-box-shadow: 0 4px 0 #acaca7, 0 6px 8px rgba(176, 167, 160, 0.4);

    --pc-btn-bk-color: #cbcaca;
    --pc-btn-bk-bg: linear-gradient(#000119, #24282f);
    --pc-btn-hover-bk-color: #b1b0af;
    --pc-btn-hover-bk-bg: linear-gradient(#282839, #43474c);
    --pc-btn-active-bk-color: #9c9b9a;
    --pc-btn-active-bk-bg: linear-gradient(#3f4052, #55585d);
    --pc-btn-box-bk-shadow: 0 4px 0 #535358, 0 6px 8px rgba(176, 167, 160, 0.4);

    --title-color: #fffdf2;
    --subtitle-color: #929077;

    --body-bg: #423b34;
    --main-bg: #645e51;

    --card-color: #343535;
    --card-bg: #6f6758;
    --card-bg-hover: #79705f;
    --card-border: rgba(255,255,255,0.08);
    --card-shadow: 0 4px 24px rgba(75, 73, 70, 0.4), 0 1px 4px rgba(0,0,0,0.3);
    --card-shadow-hover: 0 8px 32px rgba(109, 105, 93, 0.5)px rgba(0,0,0,0.35);

    --btn-color: #fffdf2;
    --btn-bg: #303232;
    --btn-bg-hover: #444749;

    --io-bg: #303339;
    --io-color: #faf5e9;
    --io-focus-border-color: #ede3b7;
    --io-box-shadow: 0 0 0 3px rgba(37, 32, 111, 0.2);

    --radius-sm: 6px;
    --radius-md: 12px;
    --radius-lg: 18px;

    --border-bottom: 2px solid rgba(255,255,255,0.06);
}

h1 {
    color: var(--title-color);
    border-bottom: var(--border-bottom);
    margin-bottom: 1rem;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 150%;

    background: var(--body-bg);
    min-height: 100vh;
    padding: 2.5rem 1.5rem 4rem;
    background-color: var(--body-bg);
}

/* inputs */
.btn {
    width: 9rem;
    height: 2rem;
    color: var(--btn-color);
    background-color: var(--btn-bg);
    font-family: var(--font-mono);
    border-radius: var(--radius-md);
}

.btn:hover {
    background-color: var(--btn-bg-hover);
}

/* cards */
.card {
    background-color: var(--card-bg);
    color: var(--card-color);
    font-family: var(--font);

    border-radius: var(--radius-lg);
    margin-bottom: 1.25rem;
    border: 1px solid var(--border-card);
    box-shadow: var(--shadow-card);
    padding: 1.25rem 1.25rem;
    padding-top: 0;
}

.card:hover {
    box-shadow: var(--shadow-card-hover);
    background-color: var(--card-bg-hover);
}

.card h3 {
    color: var(--title-color);
}

.card label.text {
    margin-right: 1rem;
}

.settings-row {
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;
    width: 100%;
    max-width: 15em
}













/* toggle sliders */
.card input[type="checkbox"].toggle {
    opacity: 0;
    width: 0;
    height: 0;
}

.card input[type="checkbox"].toggle + label {
    display: flex;
    position: relative;
    align-items: center;
    cursor: pointer;
}

.card input[type="checkbox"].toggle + label::before {
    content: "";
    width: 2em;
    height: 1.1em;
    border-radius: 1em;
    margin-right: 0.25em;

    background-color: var(--input-bg);
}

.card input[type="checkbox"].toggle + label::after {
    content: "";
    position: absolute;

    left: 0.1em;
    width: 0.9em;
    height: 0.9em;
    border-radius: 1em;

    background-color: #6b2525;
    transition: 200ms ease-in-out;
}

.card input[type="checkbox"].toggle:checked + label::after {
    transform: translateX(100%);
    background-color: #41642c
}

/* variables */
#notes-number + label::after {
    content: "C, C#, ...";
}

#notes-number:checked + label::after {
    content: "0, 1, ...";
}

#ten-eleven + label::after {
    content: "10/11";
}

#ten-eleven:checked + label::after {
    content: "T/E";
}

#forte-rahn + label::after {
    content: "Forte";
}

#forte-rahn:checked + label::after {
    content: "Rahn";
}

#manual-input + label::after,
#show-multiple + label::after,
#show-unique + label::after {
    content: "Off";
}

#manual-input:checked + label::after,
#show-multiple:checked + label::after,
#show-unique:checked + label::after {
    content: "On";
}

@media (max-width: 520px) {
    .card {
        width: 100%;
        box-sizing: border-box;
    }

    #Tn-output, #TnI-output {
        width: 100%;
        box-sizing: border-box;
    }

    .pc-btn {
        width: 2.5rem;
        height: 2.5rem;
        font-size: large;
    }

    .btn {
        width: 100%;
    }
}